node_modules/


# See https://help.github.com/en/github/using-git/ignoring-files for more about ignoring other files
**.cache
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.*
.env
**/.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# credentials
**service-account.json**

# dotenv
*.env

# Firebase cache
**/.firebase/**

# Others
tests/